/* ========================  Font Faces  ==================================== */


/* ========================  Media Queries  ================================= */


/* =======================  General Section  ================================ */

$mainBlue: #218ACC;

* {
    font-size: 14pt;
    font-family: 'source-sans', sans-serif;
}

html {
    overflow-y: scroll;
}

html, body {
    margin: 0px;
}

.columnHolder {
    overflow: hidden;
}

.borderTop {
    border-top: $mainBlue solid 5px;
    padding-top: 15px;
}

.borderBottom {
    border-bottom: $mainBlue solid 5px;
    padding-bottom: 15px;
}

.print {
    display: none;
}

.background {
    padding-top: 2rem;
    margin: 5.5rem auto 0 auto;
    width: 90%;
    max-width: 1024px;
}
body {
    background-color: #e7eff6;
    width: 100%;
    font-family: Arial, Georgia, sans-serif;
    line-height: 1.3em;
    color: black;
    overflow: auto;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
    line-height: 1em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: .6em;
}
h6 {
    font-size: .5em;
}
h1,h2,h3,h4,h5,h6 {
    color: $mainBlue;
    font-weight: bold;
}

a:link {
    color: $mainBlue;
}

a:visited {
    color: #092834;
}

.skinny {
    max-width: 1024px;
    margin: 0px auto;
    h4 {
        float: right;
        margin: 0px;
        a {
            padding: 7px 12px;
            border: $mainBlue 2px solid;
            background-color: $mainBlue;
            color: white;
            font-weight: bold;
            text-decoration: none;
        }
        a:hover {
            color: $mainBlue;
            background-color: white;
        }
    }
    a {
        text-decoration: none;
    }
}


/* =============================  Home Page  ============================ */

#home {
    div.card{
        background-color: white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        border-radius: 2px;
        display: inline-block;
        min-height: 250px;
        width: 90%;
        margin: 30px 0px 30px 20px;
        position: relative;
        h3 {
            width: 100%;
            background-color: #218ACC;
            padding: 0px;
            margin: 0px;
            font-size: 2em;
            line-height: 2em;
            color: white;
            font-family: sans-serif;
        }
        p{
            margin: 0px;
            padding: 25px;
            line-height: 1.5em;
        }
        span{
            position:absolute;
            width:100%;
            height:100%;
            top:0;
            left: 0;
            z-index: 1;
            /* fixes overlap error in IE7/8,
               make sure you have an empty gif */
            background-image: url('empty.gif');
        }
    }
    div.card:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .background {
        margin: 5.5rem auto 0 auto;
        width: 90%;
        max-width: 1024px;
    }
    div.column1 {
        float: left;
    }
    div.column2 {
        float: right;
    }
    div.column1, div.column2 {
        width: 47%;
        max-width: 500px;
        /*        a {
                    padding: 7px 12px;
                    border: $mainBlue 2px solid;
                    background-color: $mainBlue;
                    color: white;
                    font-weight: bold;
                    text-decoration: none;
                }
                a:link {
                    font-size: 1.2em;
                    color: white;
                }
                a:visited {
                    font-size: 1.2em;
                    color: white;
                }
                a:hover {
                    background-color: white;
                    color: $mainBlue;
                }*/
        h3 {
            text-align: center;
        }
    }
}
@media only screen and (max-width: 650px) {
    #home {
        div.column1, div.column2 {
            width: 100%;
            max-width: 100%;
        }
    }
}


/* =============================  New Board Page  ============================ */

#newBoards {
    .background li {
        padding-top: 5px;
    }
}


/* =============================  Deck Database  ============================ */



#decksBody {
    h3:first-of-type {
        text-align: center;
    }
    .background {
        max-width: 100%;
        width: 100%;
    }
    .logoborder {
        width: 100%;
        border-top: thin #CCD1D9 solid;
        border-bottom: thin #CCD1D9 solid;
        margin: 40px 0px;
        background-color: white;
    }
    .logo {
        width: 90%;
        max-width: 1000px;
        margin: 0px auto;
        padding: 15px 0px;
        display: block;
    }
}
.decks {
    margin: 0px auto;
    max-width: 100%;
    overflow: auto;
}
.gallery {
    display: block;
    float: left;
    margin: 10px;
    border: 2px solid $mainBlue;
    height: 520px;
    width: 156px;
    border-radius: 8px;
    background-color: #A8CCFF;
    overflow:hidden;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    a {
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        text-decoration:none; /* Makes sure the link   doesn't get underlined */
        z-index:10; /* raises anchor tag above everything else in div */
        background-color:white; /*workaround to make clickable in IE */
        opacity: 0; /*workaround to make clickable in IE */
    }
    img {
        display: inline;
        margin: 5px;
        padding: 8px;
    }
    div {
        height: 440px;
        vertical-align: central;
    }
    h3 {
        font-weight: bold;
        color: white;
        display: block;
        font-size: 1rem;
        padding: 3px 0px;
        border-top: 1px $mainBlue solid;
        border-bottom: 1px $mainBlue solid;
        background-color: $mainBlue;
        width: 100%
    }
}

.gallery:hover {
    border: 2px solid $mainBlue;
    background-color: #D9E6FF;
}

/* =============================  Deck Database Navigation  ================= */

div.jumpToDeck {
    border: $mainBlue 5px solid;
    max-width: 1024px;
    width: 100%;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    table {
        table-layout: fixed;
        width: 100%;
        max-width: 1024px;
        margin: 0px auto;
        border: 0px;
        text-align: center;
        border-collapse: collapse;
    }
    td {
        padding: 15px 0px;
    }
    a {
        font-size: 1rem;
        display: inline-block;
        width: 130px;
        border: $mainBlue 2px solid;
        text-decoration: none;
        padding: 5px;
        background-color: white;
        color: $mainBlue;
    }
}

/* ===============================  Deck Page   ============================= */
@media only screen and (max-width: 800px) {
    body#deckPage {
        h2 {
            width: 100% !important;
        }
    }
    div.deckBody {
        div.column1, div.column2 {
            float: none !important;
            width: 100% !important;
        }
        img {
            height: 300px;
        }
    }
    body#deckPage h4 {
        display: none !important;
        a {
            display: none !important;
        }
    }
}

body#deckPage h4 {
    float: right;
    margin-top: 30px;
    margin-right: 5px;
    a {
        padding: 7px 12px;
        border: $mainBlue 2px solid;
        background-color: $mainBlue;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
    a:hover {
        color: $mainBlue;
        background-color: white;
    }
}

body#deckPage {
    h2 {
        width: 400px / 960px * 100%;
        text-align: center;
    }
}

div.deckBody {
    width: 100%;
    overflow: hidden;
    div.column1 {
        width: 400px / 960px * 100%;
        float: left;
        figure {
            border: solid 2px $mainBlue;
            border-radius: 3px;
            padding: 35px 25px;
            background-color: white;
            width: auto;
            text-align: center;
            min-width: 193px;
        }
    }
    div.column2 {
        width: 500px / 960px * 100%;
        float: right;
        h3 {
            text-align: center;
            margin-top: 2.2rem;
        }
        table {
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            margin-bottom: 1.5rem;;
            table-layout: fixed;
        }
        tr {
            border-bottom: 1px solid $mainBlue;
        }
        td {
            width: auto;
            padding: 8px;
            margin-left: auto;
            margin-right: auto;
        }
        td:first-of-type {
            text-align: right;
            font-weight: bold;
        }
    }
}

.video-container {
    margin-top: 1rem;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* =============================  Form  ===================================== */

.mistake {
    color: #fff;
    background-color:#ff9900;
    border: thin solid #000;
}

#errors ol li{
    color: #ff0000;
}

input[type="text"] {
    display: block;
    margin-bottom: 10px;
}

.required {
    width: 200px;
    text-align: left;
    padding-right: 10px;
}

fieldset{
    clear: both;
    border: 2px solid $mainBlue;
    border-radius: 10px;
    padding:20px;
    margin-bottom: 15px;
}

fieldset.contact {
    width: 30em;
    background-color: $mainBlue;
    margin: 30px auto;
    label {
        float: left;
        width: 200px;
        text-align: left;
        clear:  left;
        padding: 0px 10px 10px 20px;
    }
    input{
        width: 15em;    /* works with above to be the same size for the boxes */
        margin-bottom: 10px;
    }
    select{
        display: block;
        margin-bottom: 10px;
        width: 15em;
    }
    #btnSubmit {
        width: 70%;
        margin: 30px 15% 10px 15%;
    }
}

legend {
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px white solid;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 15px;
}

label {
    color: white;
    display: block;
    font-size: .9em;
    font-weight: bold;
}

/* =============================== Search Page ============================== */


#search {
    .decks {
        margin: 0 auto;
        overflow: hidden;
    }
    .gallery {
        height: auto;
        div {
            height: auto;
        }
        h3 {
            margin: 0;
        }
    }
    .background {
        max-width: 100%;
        width: 100%;
    }
    #slider-range {
        width: 25em;
        max-width: 100%;
    }
    #frmSearch,#wrapper {
        border: none;
    }
    .search {
        width: 100%;
        max-width: 25em;
        margin: 10px auto;
        background-color: $mainBlue;
        label {
            float: left;
            width: 200px;
            text-align: left;
            padding-right: 10px;
            clear:  left;
            padding-bottom: 10px;
        }
        input{
            width: 15em;    /* works with above to be the same size for the boxes */
        }
        select{
            display: block;
            margin-bottom: 10px;
            width: 15em;
            margin-bottom: 25px;
        }
        #btnSearch {
            margin: 15px auto;
        }
        #txtDeckName, #slider-range, #slider-range1, #slider-range2 {
            margin-bottom: 25px;
        }
    }
    h1,h4 {
        max-width: 1024px;
        margin: 19px auto;
    }
}

#amount, #amount1, #amount2 {
    border: none;
    background-color: $mainBlue;
    color: white;
    font-weight: bold;
}

/* =============================== Guides Page ============================== */


#guides {
    img {
        border: $mainBlue solid 5px;
        padding-top: 20px;
        background-color: white;
        width: 100%
    }
    div.column1 {
        float: left;
    }
    div.column2 {
        float: right;
    }
    div.column1,div.column2 {
        width: 47%;
        max-width: 480px;
        h3 {
            text-align: center;
        }
    }
}

/* =============================  Header  =================================== */

header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 3.5rem;
    background-color: white;
    h1 {
        text-align: center;
        font-family:  'Bungee', sans-serif;
        color: $mainBlue;
        font-size: 2rem;
        line-height: 1rem;
        font-weight: 300;
    }
}

#home, #decksBody, #resourcesPage, #submitAdeck, #newBoards, #guides {
    header h1 {
        color: white;
    }
}

/* ===================  Navigation Section  ================================= */

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    nav#menu {
        li {
            display: block;
            border-bottom: 1px solid black;
            border-right: none;
            border-left: none;
        }
    }
    .background {
        margin-top: 15.5rem !important;
    }
}

nav {
    position: absolute;
    top: 3.5rem;
    left: 0px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    background: white;
    border-top: solid thin black;
    border-bottom: solid thin black;
    font-family: 'Roboto', sans-serif;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(128,128,128,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(128,128,128,1);
    box-shadow: 0px 3px 5px 0px rgba(128,128,128,1);
    overflow:hidden;
    ul {
        margin: 0px auto;
        width: 100%;
        max-width: 1024px;
        display: table;
        table-layout: fixed;
        border-collapse: collapse;
    }
    li {
        border-left: solid black thin;
        line-height: 2rem;
        padding: 0;
        width: auto;
        display: table-cell;
        border-collapse: collapse;
    }
    li:last-of-type {
        border-right: solid black thin;
    }
    a {
        text-decoration: none !important;
        padding: 0;
        display: block;
        background-color: white;
        -webkit-transition: background-color 0.15s, color 0.15s; /* Safari */
        transition: background-color 0.15s, color 0.15s;
        transition-timing-function: ease-in-out;
    }
    a:link, a:visited {
        color: black;
    }
}

li.activePage a {
    cursor: default !important;
}

/* ===================  First Tab  ================================= */
$first-tab-color: $mainBlue;
#home #menu > ul > li.activePage > a {
    background-color: $first-tab-color;
    color: white;
}
#menu li:nth-of-type(1) a:hover {
    background-color: $first-tab-color;
    color: white;
}
#home header {
    background-color: $first-tab-color;
}

/* ===================  Second Tab  ================================= */
$second-tab-color: #21897E;
#decksBody #menu > ul > li.activePage > a {
    background-color: $second-tab-color;
    color: white;
}
#menu li:nth-of-type(2) a:hover {
    background-color: $second-tab-color;
    color: white;
}
#decksBody header {
    background-color: $second-tab-color;
}

/* ===================  Third Tab  ================================= */
$third-tab-color: #533A71;
#resourcesPage #menu > ul > li.activePage > a {
    background-color: $third-tab-color;
    color: white;
}
#menu li:nth-of-type(3) a:hover {
    background-color: $third-tab-color;
    color: white;
}
#resourcesPage header {
    background-color: $third-tab-color;
}

/* ===================  Fourth Tab  ================================= */
$fourth-tab-color: #DB9659;
#submitAdeck #menu > ul > li.activePage > a {
    background-color: $fourth-tab-color;
    color: white;
}
#menu li:nth-of-type(4) a:hover {
    background-color: $fourth-tab-color;
    color: white;
}
#submitAdeck header {
    background-color: $fourth-tab-color;
}

/* ===================  Fifth Tab  ================================= */
$fifth-tab-color: #48639C;
#guides #menu > ul > li.activePage > a {
    background-color: $fifth-tab-color;
    color: white;
}
#menu li:nth-of-type(5) a:hover {
    background-color: $fifth-tab-color;
    color: white;
}
#guides header {
    background-color: $fifth-tab-color;
}

/* ===================  Sixth Tab  ================================= */
$sixth-tab-color: #93403E;
#newBoards #menu > ul > li.activePage > a {
    background-color: $sixth-tab-color;
    color: white;
}
#menu li:nth-of-type(6) a:hover {
    background-color: $sixth-tab-color;
    color: white;
}
#newBoards header {
    background-color: $sixth-tab-color;
}

/* =============================  Footer  =================================== */

footer p:first-of-type {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    clear: both;
}

footer p {
    text-align: center;
    padding-top: 10px;
}
